modulo01/aula02-stubs/node_modules
modulo01/aula03-spies/node_modules
modulo01/aula04-coverage-e2e/node_modules
modulo01/aula04-coverage-e2e/.nyc_output
modulo01/aula04-coverage-e2e/coverage
modulo01/aula05-tdd-project-pt01/node_modules
modulo01/aula05-tdd-project-pt02/node_modules
modulo01/aula05-tdd-project-pt02/coverage
modulo01/aula05-tdd-project-pt02/.nyc_output
modulo01/aula05-tdd-project-pt03/node_modules
modulo01/aula05-tdd-project-pt03/coverage
modulo01/aula05-tdd-project-pt03/.nyc_output
modulo03/demo02-esmodules-internacionalization/node_modules
modulo03/demo02-esmodules-internacionalization/.nyc_output
modulo03/demo02-esmodules-internacionalization/coverage
modulo03/demo02-esmodules-internacionalization/.reify-cache
modulo05/aula02-projeto01/app/node_modules
modulo05/aula02-projeto01/app/coverage
modulo05/aula02-projeto01/app/.nyc_output
modulo05/aula02-projeto01/app/.reify-cache
modulo06/creational/aula02-abstract-factory/node_modules
modulo06/creational/aula03-test-data-builder-object-mother/node_modules
modulo07/behavioral/01.strategy/
modulo07/behavioral/02.observer/node_modules