aula02-stubs/node_modules
aula03-spies/node_modules
aula04-coverage-e2e/node_modules
aula04-coverage-e2e/.nyc_output
aula04-coverage-e2e/coverage
aula05-tdd-project-pt01/node_modules
aula05-tdd-project-pt02/node_modules
aula05-tdd-project-pt02/coverage
aula05-tdd-project-pt02/.nyc_output


